# One-Hot Encoding

In [17]:
import pandas as pd
df = pd.DataFrame({
    '숫자형 범주': [0, 2, 2, 1],
    '문자형 범주': ['Sentosa', 'Virginica', 'Virginica', 'Versicolor']
})
df

   숫자형 범주      문자형 범주
0       0     Sentosa
1       2   Virginica
2       2   Virginica
3       1  Versicolor

In [18]:
pd.get_dummies(df)

   숫자형 범주  문자형 범주_Sentosa  문자형 범주_Versicolor  문자형 범주_Virginica
0       0               1                  0                 0
1       2               0                  0                 1
2       2               0                  0                 1
3       1               0                  1                 0

In [19]:
pd.get_dummies(df, columns=['숫자형 범주', '문자형 범주'])

,숫자형 범주_0,숫자형 범주_1,숫자형 범주_2,문자형 범주_Sentosa,문자형 범주_Versicolor,문자형 범주_Virginica
0,1,0,0,1,0,0
1,0,0,1,0,0,1
2,0,0,1,0,0,1
3,0,1,0,0,1,0

In [71]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder().fit(df)
encoder.categories_

[array([0, 1, 2]), array(['Sentosa', 'Versicolor', 'Virginica'], dtype=object)]

In [72]:
encoder.transform(df).toarray()

array([[1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0.]])

In [73]:
pd.DataFrame(encoder.transform(df).toarray(),
             columns=encoder.get_feature_names())

   x0_0  x0_1  x0_2  x1_Sentosa  x1_Versicolor  x1_Virginica
0   1.0   0.0   0.0         1.0            0.0           0.0
1   0.0   0.0   1.0         0.0            0.0           1.0
2   0.0   0.0   1.0         0.0            0.0           1.0
3   0.0   1.0   0.0         0.0            1.0           0.0

In [74]:
import seaborn as sns

In [75]:
titanic = sns.load_dataset('titanic')

In [76]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [77]:
X = titanic[['pclass', 'age', 'sibsp', 'parch', 'fare', 'sex', 'embarked', 'deck']]
Y = titanic['survived']

In [78]:
X.isna().sum()

pclass        0
age         177
sibsp         0
parch         0
fare          0
sex           0
embarked      2
deck        688
dtype: int64

In [79]:
X['embarked'] = X['embarked'].fillna(X['embarked'].mode()[0])#최빈값으로 채운다

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
X.loc[X['embarked'].isna(), 'embarked'] = X['embarked'].mode()[0]#위와 동일하다!

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [81]:
X['deck'].astype('str').fillna('na')

0      nan
1        C
2      nan
3        C
4      nan
      ...
886    nan
887      B
888    nan
889      C
890    nan
Name: deck, Length: 891, dtype: object

In [82]:
X['deck'] = X['deck'].astype('str').fillna('na')
X['age'] = X['age'].fillna(0)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
X.isna().sum()

pclass      0
age         0
sibsp       0
parch       0
fare        0
sex         0
embarked    0
deck        0
dtype: int64

In [84]:
X.dtypes

pclass        int64
age         float64
sibsp         int64
parch         int64
fare        float64
sex          object
embarked     object
deck         object
dtype: object

In [85]:
X.head(5)

   pclass   age  sibsp  parch     fare     sex embarked deck
0       3  22.0      1      0   7.2500    male        S  nan
1       1  38.0      1      0  71.2833  female        C    C
2       3  26.0      0      0   7.9250  female        S  nan
3       1  35.0      1      0  53.1000  female        S    C
4       3  35.0      0      0   8.0500    male        S  nan

In [86]:
X = pd.get_dummies(X)

In [87]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y)

In [88]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(668, 18) (223, 18) (668,) (223,)

In [89]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9910179640718563, 0.8026905829596412)

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

iris = load_iris()

x_train, x_test, y_train, y_test = train_test_split(iris['data'],
                                                    iris['target'],
                                                    random_state=0)

model = LogisticRegression(max_iter=10000).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
iris = load_iris()
model = LogisticRegression(max_iter=10000)
cross_val_score(model, iris['data'], iris['target'], cv=3)

In [ ]:
from sklearn.model_selection import cross_val_predict
cross_val_predict(model, iris['data'], iris['target'], cv=3)

In [ ]:
from sklearn.model_selection import KFold
fold = KFold(n_splits=3)
cross_val_score(model, iris['data'], iris['target'], cv=fold)

In [ ]:
fold = KFold(n_splits=3, shuffle=True)
cross_val_score(model, iris['data'], iris['target'], cv=fold)

In [ ]:
from sklearn.metrics import confusion_matrix
Y = [0, 1, 1, 0, 0]
P = [0, 0, 0, 1, 0]
confusion_matrix(Y, P)

In [ ]:
tn, fp, fn, tp = confusion_matrix(Y, P).ravel()
tn, fp, fn, tp