In [1]:
import pandas as pd
df = pd.DataFrame({
    '숫자형 범주': [0, 2, 2, 1],
    '문자형 범주': ['Sentosa', 'Virginica', 'Virginica', 'Versicolor']
})
df

   숫자형 범주      문자형 범주
0       0     Sentosa
1       2   Virginica
2       2   Virginica
3       1  Versicolor

In [2]:
pd.get_dummies(df)

   숫자형 범주  문자형 범주_Sentosa  문자형 범주_Versicolor  문자형 범주_Virginica
0       0               1                  0                 0
1       2               0                  0                 1
2       2               0                  0                 1
3       1               0                  1                 0

In [3]:
pd.get_dummies(df, columns=['숫자형 범주', '문자형 범주'])

,숫자형 범주_0,숫자형 범주_1,숫자형 범주_2,문자형 범주_Sentosa,문자형 범주_Versicolor,문자형 범주_Virginica
0,1,0,0,1,0,0
1,0,0,1,0,0,1
2,0,0,1,0,0,1
3,0,1,0,0,1,0

In [4]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder().fit(df)
encoder.categories_

[array([0, 1, 2], dtype=int64),
 array(['Sentosa', 'Versicolor', 'Virginica'], dtype=object)]

In [5]:
encoder.transform(df).toarray()

array([[1., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0.]])

In [6]:
pd.DataFrame(encoder.transform(df).toarray(),
             columns=encoder.get_feature_names())

   x0_0  x0_1  x0_2  x1_Sentosa  x1_Versicolor  x1_Virginica
0   1.0   0.0   0.0         1.0            0.0           0.0
1   0.0   0.0   1.0         0.0            0.0           1.0
2   0.0   0.0   1.0         0.0            0.0           1.0
3   0.0   1.0   0.0         0.0            1.0           0.0

In [7]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

iris = load_iris()

x_train, x_test, y_train, y_test = train_test_split(iris['data'],
                                                    iris['target'],
                                                    random_state=0)

model = LogisticRegression(max_iter=10000).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9821428571428571, 0.9736842105263158)

In [9]:
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
iris = load_iris()
model = LogisticRegression(max_iter=10000)
cross_val_score(model, iris['data'], iris['target'], cv=3)

array([0.98, 0.96, 0.98])

In [10]:
from sklearn.model_selection import cross_val_predict
cross_val_predict(model, iris['data'], iris['target'], cv=3)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [11]:
from sklearn.model_selection import KFold
fold = KFold(n_splits=3)
cross_val_score(model, iris['data'], iris['target'], cv=fold)

array([0., 0., 0.])

In [12]:
fold = KFold(n_splits=3, shuffle=True)
cross_val_score(model, iris['data'], iris['target'], cv=fold)

array([0.92, 0.92, 1.  ])

In [13]:
from sklearn.metrics import confusion_matrix
Y = [0, 1, 1, 0, 0]
P = [0, 0, 0, 1, 0]
confusion_matrix(Y, P)

array([[2, 1],
       [2, 0]], dtype=int64)

In [15]:
tn, fp, fn, tp = confusion_matrix(Y, P).ravel()
tn, fp, fn, tp

(2, 1, 2, 0)