In [2]:
from IPython.core.display import display, HTML

display(HTML("<style>#notebook-container {width: 90% !important; }</style>"))
# 마크다운 폰트 
display(HTML("<style>.rendered_html{font-family: 'D2Coding'; font-size: 16pt; line-height: 140%;}</style>"))
# DataFrame 테이블 폰트 
display(HTML("<style>.rendered_html table{font-family: 'D2Coding'; font-size: 16pt; line-height: 140%;}</style>"))
# 출력창 폰트
display(HTML("<style>pre{font-family: 'D2Coding', font-size: 16pt;}.rendered_html>ul>li{margin: 10px}</style>"))
display(HTML("<style>div.output_area>pre, div.output_subarea>pre{font-size: 16pt; !important; line-height: 140%;}</style>"))
# 코드셀 폰트 
display(HTML("<style> .CodeMirror pre {font-family: 'D2Coding'; font-size: 18pt !important; line-height: 140%;}</style>"))

# 필수 패키지 설치 및 로드

In [3]:
!pip install --upgrade mySUNI

Collecting mySUNI
  Downloading mySUNI-1.2.3-py3-none-any.whl (21 kB)
Collecting tqdm
  Downloading tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 1.7 MB/s eta 0:00:01
Installing collected packages: tqdm, mySUNI
Successfully installed mySUNI-1.2.3 tqdm-4.62.3
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [29]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 

from mySUNI import cds

# 데이터 다운로드

In [30]:
cds.list_data()

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,[vehicles.csv]
11,신용정보,사용자의 신용카드 대금 연체를 기준의 신용도,[credit-data.csv]
12,전국신규분양가,주택도시보증공사 전국 신규 민간 아파트 분양가격 정보,[house-price.csv]
13,에너지 효율,난방부하 및 냉방부하 요구사항(에너지 효율)을 평가,[ENB2012_data.xlsx]
14,보스턴집값,보스턴 지역 집값 데이터 세트,[boston.csv]
15,와인유형분류,"와인 유형(red, white) 분류를 위한 와인 품질 데이터 세트","[red_wine.csv, white_wine.csv]"
16,사용자이탈예측,사용자 이탈 예측,"[class.csv, event.csv, logs.csv, user_info.csv]"

In [31]:
cds.download_data('와인유형분류')

파일 다운로드 완료
====================

데이터셋: 와인유형분류
파일경로: data/red_wine.csv

====================
파일 다운로드 완료
====================

데이터셋: 와인유형분류
파일경로: data/white_wine.csv

====================

# 데이터 읽기 및 조회

- data 디렉토리에 있는 red_wine 데이터 읽어오기 (구분자 ; 입니다)

- 상위 5개 샘플(행) 조회

In [32]:
# 코드 입력
red = pd.read_csv('data/red_wine.csv', sep=';')
red.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [33]:
# 코드 입력
white = pd.read_csv('data/white_wine.csv', sep=';')
white.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

- red_wine 데이터 프레임에 'red' 값을 가지는 type 컬럼을 추가하시오

In [34]:
# 코드 입력
red["type"] = "red"

In [35]:
red.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

- white_wine 데이터 프레임에 'white' 값을 가지는 type 컬럼을 추가하시오

In [36]:
# 코드 입력
white["type"] = "white"

In [37]:
# 코드 입력
white.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

- red_wine와 white_wine 데이터 프레임을 결합하시오.
    - `concat()` 활용하세요.
    - 데이터 프레임 결합시 인덱스를 무시하거나 결합 후 인덱스를 초기화 하세요

In [38]:
wine = pd.concat([red, white], ignore_index=True)

In [39]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [40]:
wine.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

- 데이터 컬럼 이름을 변경하세요
    - ['산도', '황', '신선함', '단 맛', '짠 맛', '황 화합물1', '항 화합물2', '무게감', '신 맛', '황 화합물3',
    '알코올', '품질', '유형']

In [41]:
# 기존 이름 저장 
old_names = wine.columns

# 새로운 컬럼 이름 
new_names =  ['산도', '황', '신선함', '단 맛', '짠 맛', '황 화합물1', '항 화합물2', '무게감', '신 맛', '황 화합물3', '알코올', '품질', '유형']

columns = {on:nm for on, nm in zip(old_names, new_names)} #<- dict, key는 old_name, value 는 new_name 

# pandas.rename -> {바꿀 이름 : 바뀔 이름}

In [57]:
#wine.columns = ['dd', ''dd]

In [42]:
columns

{'fixed acidity': '산도',
 'volatile acidity': '황',
 'citric acid': '신선함',
 'residual sugar': '단 맛',
 'chlorides': '짠 맛',
 'free sulfur dioxide': '황 화합물1',
 'total sulfur dioxide': '항 화합물2',
 'density': '무게감',
 'pH': '신 맛',
 'sulphates': '황 화합물3',
 'alcohol': '알코올',
 'quality': '품질',
 'type': '유형'}

In [43]:
# key-value로 바뀐 컬럼이름을 서로 바꿈 
wine.rename(columns=columns, inplace=True)

In [62]:
# key-value. 데이터 값도 바꿀 수 있다 
wine.유형.rename({'red' : '레드와인', 'white' : '화이트와인'}, inplace=True)

In [64]:
wine.head(10)

,산도,황,신선함,단 맛,짠 맛,황 화합물1,항 화합물2,무게감,신 맛,황 화합물3,알코올,품질,유형
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,red
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,red
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,red
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,red

- X와 Y를 분리하세요.
    - X : 유형을 제외한 나머지 컬럼
    - Y : 유형 컬럼

In [45]:
X = wine.loc[:, wine.columns != "유형"]
Y = wine.loc[:, "유형"]

In [65]:
X.head(5)

     산도     황   신선함  단 맛    짠 맛  황 화합물1  항 화합물2     무게감   신 맛  황 화합물3  알코올  품질
0   7.4  0.70  0.00  1.9  0.076    11.0    34.0  0.9978  3.51    0.56  9.4   5
1   7.8  0.88  0.00  2.6  0.098    25.0    67.0  0.9968  3.20    0.68  9.8   5
2   7.8  0.76  0.04  2.3  0.092    15.0    54.0  0.9970  3.26    0.65  9.8   5
3  11.2  0.28  0.56  1.9  0.075    17.0    60.0  0.9980  3.16    0.58  9.8   6
4   7.4  0.70  0.00  1.9  0.076    11.0    34.0  0.9978  3.51    0.56  9.4   5

In [66]:
Y

0         red
1         red
2         red
3         red
4         red
        ...
6492    white
6493    white
6494    white
6495    white
6496    white
Name: 유형, Length: 6497, dtype: object

- 분리된 X, Y를 이용하여 Train 과 Test 로 분할하세요.
    - 7:3 비율로 분리하세요

In [46]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

- K-NN 모델을 이용하여 학습 후 결과를 출력하세요
    - K는 5를 설정합니다

In [47]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9560149549153288, 0.9471794871794872)

- Logisitc Regression 모델을 이용하여 학습 후 결과를 출력하세요 
    - max_iter을 100000 으로 설정합니다

In [48]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=100000).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9830657576424016, 0.9892307692307692)

- Decision Tree를 이용하여 학습 후 결과를 출력하세요
    - max_depth는 5로 설정합니다

In [49]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.990103364855949, 0.9861538461538462)

- 데이터를 최소 최대 정규화 변환을 적용하세요

In [50]:
from sklearn.preprocessing import MinMaxScaler
X_new = MinMaxScaler().fit_transform(X)
X_new

array([[0.29752066, 0.41333333, 0.        , ..., 0.19101124, 0.20289855,
        0.33333333],
       [0.33057851, 0.53333333, 0.        , ..., 0.25842697, 0.26086957,
        0.33333333],
       [0.33057851, 0.45333333, 0.02409639, ..., 0.24157303, 0.26086957,
        0.33333333],
       ...,
       [0.2231405 , 0.10666667, 0.11445783, ..., 0.13483146, 0.20289855,
        0.5       ],
       [0.14049587, 0.14      , 0.18072289, ..., 0.08988764, 0.69565217,
        0.66666667],
       [0.18181818, 0.08666667, 0.22891566, ..., 0.05617978, 0.55072464,
        0.5       ]])

- 최소 최대 정규화가 적용된 데이터를 이용하여 Train, Test로 분할하세요
    - 7:3 비율로 분할하세요

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_new, Y, test_size=0.3, random_state=0)

- K-NN 모델을 이용하여 학습 후 결과를 출력하세요
    - K는 5를 설정합니다

In [52]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9909830657576424, 0.9953846153846154)

- Logisitc Regression 모델을 이용하여 학습 후 결과를 출력하세요 
    - max_iter을 100000 으로 설정합니다

In [53]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=100000).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9859247855729052, 0.9897435897435898)

- Decision Tree를 이용하여 학습 후 결과를 출력하세요
    - max_depth는 5로 설정합니다

In [54]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.990103364855949, 0.9856410256410256)

#### >>> 거리기반, 선형알고리즘은 스케일에 민감. 스케일 이휴 성능 향상되는지 확인 필요