In [1]:
i = 20
i

20

In [2]:
i = 0b1001
i

9

In [3]:
i = 0o11
i

9

In [4]:
i = 0x11
i

17

In [5]:
f = 1.0
f

1.0

In [6]:
c = 2 + 3j
c

(2+3j)

In [7]:
type(77)

int

In [8]:
type(True)

bool

In [9]:
int(True)

1

In [10]:
float(77)

77.0

In [11]:
int(3.14)

3

In [12]:
7 % 3

1

In [13]:
7 / 4

1.75

In [14]:
7 // 4

1

In [15]:
int(True)

1

In [16]:
int(False)

0

In [17]:
"Hello Jaen"

'Hello Jaen'

In [18]:
'Python is Easy'

'Python is Easy'

In [19]:
""" Hello JA, JA is a Big Company"""

' Hello JA, JA is a Big Company'

In [20]:
""" Hello JA, JA is a Big
Hi Jerry"""

' Hello JA, JA is a Big\nHi Jerry'

In [21]:
'py' + 'thon'

'python'

In [22]:
'py' * 2

'pypy'

In [23]:
'python'[0]

'p'

In [24]:
'python'[5]

'n'

In [25]:
'python'[-2:]

'on'

In [26]:
'python'[1:4]

'yth'

In [27]:
'python'[1:]

'ython'

In [28]:
'python'[:4]

'pyth'

In [29]:
'python'[0:6:2]

'pto'

In [30]:
'python'[0::2]

'pto'

In [31]:
'python'[::-1]

'nohtyp'

In [33]:
x = 100
"x is %d" % x

'x is 100'

In [34]:
"I eat %s apples." % 'five'

'I eat five apples.'

In [35]:
"%d + %d = %d" % (3, 7, 10)

'3 + 7 = 10'

In [36]:
"%0.2f" % 3.141592

'3.14'

In [39]:
import time
now = time.localtime()
print("현재 시간은 %d년 %d월 %d일 %d시 %d분 %d초 입니다" %(now.tm_year, now.tm_mon, now.tm_mday, now.tm_hour,now.tm_min, now.tm_sec))

현재 시간은 2021년 3월 14일 19시 49분 19초 입니다

In [40]:
'my name is {}, {} years old'.format('Hone', 27)

'my name is Hone, 27 years old'

In [41]:
'my name is {1}, {0} years old'.format(27, 'Hong')

'my name is Hong, 27 years old'

In [43]:
'my name is {name}, {age} years old'.format(name='Hong', age=27)

'my name is Hong, 27 years old'

In [45]:
'Count : {:3d}EA, Price: ${:.2f}'.format(1,  12.3456)

'Count :   1EA, Price: $12.35'

In [46]:
name = 'Hone'
age = 27
f'my name is {name}, {age} years old'

'my name is Hone, 27 years old'

In [47]:
f'{100-age} years left until you are 100.'

'73 years left until you are 100.'

In [48]:
a = ','
a.join('edef')

'e,d,e,f'

In [49]:
j = 'a:b:c:d'
j.split(':')

['a', 'b', 'c', 'd']

In [50]:
print("이름", "홍길동", "나이", 27)

이름 홍길동 나이 27

In [51]:
print("이름", "홍길동", sep=":")

이름:홍길동

In [52]:
print("이름", "홍길동", end=" ")
print("나이", 27)

이름 홍길동 나이 27

In [53]:
input("이름을 입력하세요:")

이름을 입력하세요:홍길동

'홍길동'

In [54]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [55]:
a = [1,2,3]
b = 2
a * b

[1, 2, 3, 1, 2, 3]

In [56]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [57]:
a[1:2] = ['c', 'd', 'e']
a

[1, 'c', 'd', 'e', 4]

In [58]:
a[1] = ['c', 'd', 'e']
a

[1, ['c', 'd', 'e'], 'd', 'e', 4]

In [59]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [60]:
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [61]:
a = [1,4,2,3]
a.sort()
a

[1, 2, 3, 4]

In [62]:
a = [1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [63]:
a = [1,2,3]
a.pop(1)
a

[1, 3]

In [64]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [65]:
a = [1,2,3,2,1]
a.remove(2)
a

[1, 3, 2, 1]

In [66]:
a = [1,2,3,1,2,3,1]
a.count(1)

3

In [67]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [68]:
myStr = 'python'
list(myStr)

['p', 'y', 't', 'h', 'o', 'n']

In [70]:
tuple(myStr)

('p', 'y', 't', 'h', 'o', 'n')

In [71]:
myList = ['hello', 'dong', 'jin']
"".join(myList)

'hellodongjin'

In [72]:
a = {'a', 'b', 'c', 'd', 'e'}
a

{'a', 'b', 'c', 'd', 'e'}

In [73]:
b = set('abcfff')
b

{'a', 'b', 'c', 'f'}

In [74]:
b.add('g')
b

{'a', 'b', 'c', 'f', 'g'}

In [75]:
b.update(['1','2','3'])
b

{'1', '2', '3', 'a', 'b', 'c', 'f', 'g'}

In [76]:
b.remove('1')
b

{'2', '3', 'a', 'b', 'c', 'f', 'g'}

In [77]:
print(b.pop())
b

3

{'2', 'a', 'b', 'c', 'f', 'g'}

In [78]:
a = {'a', 'b', 'c'}
b = set('cde')
a-b

{'a', 'b'}

In [79]:
a.difference(b)

{'a', 'b'}

In [80]:
a | b

{'a', 'b', 'c', 'd', 'e'}

In [81]:
a.union(b)

{'a', 'b', 'c', 'd', 'e'}

In [82]:
a & b

{'c'}

In [83]:
a.intersection(b)

{'c'}

In [84]:
(a|b-a)

{'a', 'b', 'c', 'd', 'e'}

In [85]:
a ^ b

{'a', 'b', 'd', 'e'}

In [86]:
a.symmetric_difference(b)

{'a', 'b', 'd', 'e'}

In [87]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [89]:
myList = list(s1)
myList

[1, 2, 3]

In [90]:
myTuple = tuple(s1)
myTuple

(1, 2, 3)

In [91]:
s = set("Hello")
s

{'H', 'e', 'l', 'o'}

In [93]:
a = {1:'b', '지역':'서울'}
a

{1: 'b', '지역': '서울'}

In [94]:
a = dict(m='b', 지역='서울')
a

{'m': 'b', '지역': '서울'}

In [95]:
b = {(1,2):'tuple'}
b

{(1, 2): 'tuple'}

In [96]:
b[(1,2)]

'tuple'

In [97]:
a = dict(m='b', 지역='서울')
a['지역']

'서울'

In [98]:
a['없나']

KeyError: '없나'

In [99]:
a.get('지역')

'서울'

In [100]:
print(a.get('없나'))

None

In [102]:
a['지역'] = '인천'
a

{'m': 'b', '지역': '인천'}

In [103]:
a['이름'] = '홍길동'
a

{'m': 'b', '지역': '인천', '이름': '홍길동'}

In [104]:
a.update({'이름':'흥부', 'age':1000, '지역':'어디게?'})
a

{'m': 'b', '지역': '어디게?', '이름': '흥부', 'age': 1000}

In [105]:
del a['m']
a

{'지역': '어디게?', '이름': '흥부', 'age': 1000}

In [106]:
print(a.pop('age'))
a

1000

{'지역': '어디게?', '이름': '흥부'}

In [107]:
a.clear()
a

{}

In [108]:
a = {'name':'tom', 'phone':'01012345678', 'birth':1212}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [109]:
for k in a.keys():
    print(k)

name
phone
birth

In [110]:
a.values()

dict_values(['tom', '01012345678', 1212])

In [111]:
a.items()

dict_items([('name', 'tom'), ('phone', '01012345678'), ('birth', 1212)])

In [112]:
mylist = list('ABC')
mydict = dict.fromkeys(mylist, 0)
mydict

{'A': 0, 'B': 0, 'C': 0}

In [113]:
mydict2 = dict.fromkeys(mylist)
mydict2

{'A': None, 'B': None, 'C': None}

In [114]:
'A' in mydict

True

In [115]:
'D' in mydict

False

In [116]:
'D' not in mydict

True

In [ ]:
gender=input("성별을 입력하세요.MALE or FEMALE: ")

if gender=='MALE':
    print("남성입니다")
else:
    print("여성입니다")

In [ ]:
gender=input("성별을 입력하세요.MALE or FEMALE: ")

if gender=='MALE':
    print("남성입니다")
elif gender == "FEMALE":
    print("여성입니다")
else:
    print("잘못된 입력값입니다")

In [117]:
a = 10 if 3 > 2 else 20
a

10

In [118]:
a = 10 if 3 < 2 else 20
a

20

In [ ]:
gender='' 
while gender != 'MALE' and gender != 'FEMALE':
    gender=input("성별을 입력하세요.MALE or FEMALE: ") 
    if gender=='MALE': 
        print("남성입니다") 
    elif gender == "FEMALE":
        print("여성입니다") 
    else: 
        print("잘못된 입력값입니다") 
print("종료")

In [119]:
colors=['red', 'green', 'blue'] 
for c in colors: 
    print(c)

red
green
blue

In [120]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [121]:
s = [x ** 2 for x in range(10)]
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
v = [2 ** x for x in range(13)]
v

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [123]:
m = [x for x in s if x % 2 == 0]
m

[0, 4, 16, 36, 64]

In [124]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [126]:
a_dict = {'a' : 10, 'b' : 20, 'c' : 30}
{value:key for key, value in list(a_dict.items())}

{10: 'a', 20: 'b', 30: 'c'}

In [129]:
def test(arg):
    print(arg, ': 입력매개 변수입니다')
    return arg*10

In [130]:
test(10)

10 : 입력매개 변수입니다

100

In [131]:
def myAdd(num1, num2):
    return num1 + num2

In [132]:
myAdd(3, 4)

7

In [134]:
def mySum(end, start=0):
    sum = 0
    for i in range(start, end+1):
        sum += 1
    return sum

In [135]:
mySum(10), mySum(10, 5)

(11, 6)

In [136]:
def printInfo(name, age):
    print('name:', name, 'age:', age)
printInfo(age=33, name='홍길동')

name: 홍길동 age: 33

In [137]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [138]:
print(add(1,2,3))

6

In [139]:
print(add(1,2,3,4,5))

15

In [141]:
v = [1,2,3]
print(add(*v))

6

In [142]:
def printInfo(**args):
    print(args)

In [143]:
printInfo(a=1, b=2)

{'a': 1, 'b': 2}

In [144]:
dict={'aa':3, 'bb':4}
printInfo(**dict)

{'aa': 3, 'bb': 4}

In [145]:
def add(*args):
    """ 매개변수의 총합을 반환
    매개변수 : 
        args : 숫자만 입력
    반환값:
        매개변수의 총ㅇ합
    """
    sum = 0
    for i in args:
        sum += i
    return sum

In [146]:
print(add.__doc__)

 매개변수의 총합을 반환
    매개변수 :
        args : 숫자만 입력
    반환값:
        매개변수의 총ㅇ합

In [147]:
result = lambda x : x*2
print(result(5))

10

In [154]:
a = ['one', 'two', 'three']
list(enumerate(['one', 'two', 'three']))

[(0, 'one'), (1, 'two'), (2, 'three')]

In [155]:
for index in range(len(a)):
    print(index)
    print(a[index])
    print("======")

0
one
======
1
two
======
2
three
======

In [156]:
for index, el in enumerate(a):
    print(index)
    print(el)
    print("======")

0
one
======
1
two
======
2
three
======

In [157]:
a = ['one', 'two', 'three']
b = ['a', 'b', 'c']
list(zip([a,b]))

[(['one', 'two', 'three'],), (['a', 'b', 'c'],)]

In [158]:
for i in range(len(a)):
    print(a[i])
    print(b[i])
    print("========")

one
a
========
two
b
========
three
c
========

In [159]:
for el, el2 in zip(a, b):
    print(el)
    print(el2)
    print("========")

one
a
========
two
b
========
three
c
========

In [161]:
a = [1,2,3,4]
new_a = list(map(lambda x : x ** 2, a))
new_a

[1, 4, 9, 16]

In [164]:
a = [1,2,3,4,5,6,7,8,9,10]
new_a = list(filter(lambda x : x%2==0, a))
new_a

[2, 4, 6, 8, 10]

In [165]:
import math
print(math.pi)

3.141592653589793

In [166]:
from math import pi
print(pi)

3.141592653589793

In [167]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [168]:
%%writefile my_calc.py
myname = '홍길동'

def plus(a, b):
    return a+b
def minus(a, b):
    return a-b

Writing my_calc.py

In [170]:
import my_calc
print(my_calc.plus(3,4))
print(my_calc.minus(3,4))
print(my_calc.myname)

7
-1
홍길동

In [172]:
## my_calc.py
myname="홍길동"

def plus(a,b):
    return a+b

def minus(a,b):
    return a-b

print("name =",__name__ )

name = __main__

In [173]:
## mycalc_test.py
import my_calc
print( my_calc.plus(3,4) )
print( "name = ",__name__ )

7
name =  __main__

In [175]:
%%writefile my_calc.py
myname="홍길동"

def plus(a,b):
    return a+b

def minus(a,b):
    return a-b
if __name__ == "__main__":
    print("3+4="+str(plus(3,4)))

Overwriting my_calc.py

In [1]:
import my_calc

In [2]:
print(my_calc.__name__)

my_calc